html {
    width: 100%;
    height: 100vh;
}

body.page-wrapper {
    width: 100%;
    height: 100vh;
}

.page {
    width: 100%;
    min-height: 100vh;
}

.section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel.carousel-slider {
    height: 500px;
}

.carousel.carousel-slider .carousel-fixed-item img {
    position: absolute;
    bottom: 0;
    right: 2rem;
    z-index: 1;
    height: calc(100% - 2rem);
}

.carousel.carousel-slider .carousel-fixed-item.with-indicators {
    bottom: 0;
    height: 500px;
}

.carousel .indicators {
    z-index: 2;
    right: auto;
    padding-left: 2rem;
}

.grey.custom {
    background-color: #404552;
}

#prev, #next {
    position: absolute;
    top: 50%;
}

#prev {
    left: 0;
    transform: translate(-50%, -50%);
}

#next {
    right: 0;
    transform: translate(50%, -50%);
}
